openapi: 3.0.3
info:
  title: Molam Audit API
  version: 1.0.0
  description: |
    API for immutable audit logs with cryptographic signatures and regulatory compliance.

    Features:
    - Append-only event storage
    - Cryptographic signatures (KMS/HSM)
    - Merkle tree batching
    - S3 Object Lock storage
    - OpenSearch indexing
    - Verification endpoints

servers:
  - url: https://audit.molam.com
    description: Production
  - url: http://localhost:4100
    description: Local development

paths:
  /health:
    get:
      summary: Health check
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  /api/audit/query:
    post:
      summary: Query audit events (RBAC restricted)
      description: Search audit events with filters. Requires admin role.
      operationId: queryAuditEvents
      security:
        - mTLS: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  format: date-time
                  description: Start date-time filter
                to:
                  type: string
                  format: date-time
                  description: End date-time filter
                event_type:
                  type: array
                  items:
                    type: string
                  description: Filter by event types
                  example: ["auth.login", "pay.transfer"]
                module:
                  type: array
                  items:
                    type: string
                  description: Filter by modules
                  example: ["pay", "id"]
                actor_id:
                  type: string
                  format: uuid
                  description: Filter by actor user ID
                limit:
                  type: integer
                  default: 100
                  minimum: 1
                  maximum: 1000
                offset:
                  type: integer
                  default: 0
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  hits:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditEvent'
                  total:
                    type: integer
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /api/audit/verify:
    post:
      summary: Verify event hash & signature
      description: Verify the integrity of an audit event by checking hash, signature, and merkle inclusion
      operationId: verifyAuditEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_id
              properties:
                event_id:
                  type: string
                  format: uuid
                  description: The audit event ID to verify
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_id:
                    type: string
                    format: uuid
                  hash_ok:
                    type: boolean
                    description: Whether the record hash matches the recomputed hash
                  signature_ok:
                    type: boolean
                    description: Whether the signature is valid
                  merkle_ok:
                    type: boolean
                    nullable: true
                    description: Whether the event is included in a verified batch
                  s3_object_key:
                    type: string
                    nullable: true
                    description: S3 key of the batch containing this event
        '400':
          description: Missing event_id
        '404':
          description: Event not found

  /api/audit/export:
    post:
      summary: Export audit events (admin only)
      description: Schedule an export job for audit events
      operationId: exportAuditEvents
      security:
        - mTLS: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: object
                  description: Same query parameters as /api/audit/query
                format:
                  type: string
                  enum: [json, csv, pdf]
                  default: json
                signature:
                  type: boolean
                  default: true
                  description: Include cryptographic signature in export
      responses:
        '202':
          description: Export job created
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    example: pending

components:
  schemas:
    AuditEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        event_time:
          type: string
          format: date-time
        event_type:
          type: string
          example: "auth.login"
        actor_id:
          type: string
          format: uuid
          nullable: true
        actor_role:
          type: string
          nullable: true
          example: "pay_admin"
        module:
          type: string
          example: "pay"
        payload:
          type: object
          description: Event-specific data (redacted sensitive fields)
        record_hash:
          type: string
          description: SHA256 hash of canonical event representation
        signature:
          type: string
          description: Cryptographic signature from KMS/HSM
        s3_object_key:
          type: string
          nullable: true
          description: S3 batch object key if uploaded
        created_at:
          type: string
          format: date-time

  securitySchemes:
    mTLS:
      type: mutualTLS
      description: Mutual TLS authentication for high-security endpoints
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token with appropriate roles (pay_audit_admin, CTO, CFO)
